@import "common";

body {
  color: #3d4467;

  a {
    color: #3d4467;
  }

  svg {
    fill: #3d4467;
  }
}

.switch {
  display: flex;
  border-radius: 50px;
  width: 2.5rem;
  padding: .25rem;
  background-color: darkslateblue;
  transition: background-color .2s;
  cursor: pointer;
}

.btn-toggle {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: white;
  transition: transform .1s;
}


/* Header */
header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: #F3F6F9;
  padding: 0 1rem;

  .logo {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
  }
}

.container > header {
  border-bottom: 1px solid #EEE;

  ul a {
    color: darkslateblue;
  }
}


/* Main */
main {
  flex: 1 1 auto;
  overflow: hidden;
  background-color: #e0e5ea;
  display: flex;
  position: relative;
  transition: background-color .2s;
}


/* Aside */
aside {
  flex: 0;
  background-color: white;
  position: absolute;
  top: 0;
  left: -200px;
  bottom: 0;
  width: 200px;
  transition: .2s;

  &.active {
    left: 0;

    + section {
      padding-left: 200px;
    }
  }

  .menu {
    padding: .25rem 0;
    user-select: none;

    > li {
      padding: .25rem .5rem;
    }

    .main-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .75rem .5rem;
      border-radius: .25rem;
      color: slategray;
      transition: background-color .2s;
      cursor: pointer;

      &:hover {
        background-color: #e0e5ea;
      }

      .arrow {
        transition: transform .2s;
      }

      &.active {
        background-color: #e0e5ea;

        .arrow {
          transform: rotate(90deg);
        }
      }

      div {
        display: flex;
        align-items: center;

        svg {
          fill: darkslateblue;
          margin-right: .5rem;
        }
      }

      .arrow {
        fill: slategray;
      }
    }

    .sub-menu {
      display: none;
      transition: .2s;

      &.active {
        margin: .25rem auto .5rem;
        display: flex;
        flex-direction: column;

        a {
          display: flex;
          padding: .5rem;
          border-radius: .25rem;
          margin-bottom: .25rem;
          text-indent: .5rem;
          color: slategray;
          transition: background-color .2s;

          &:hover {
            background-color: darkslateblue;
            color: white;
          }
        }
      }
    }
  }
}


/* Section */
section {
  transition: .2s;

  header {
    flex: 0 0 auto;
    padding-left: .25rem;
    user-select: none;

    .toggle-menu {
      border-radius: .5rem;
      width: 2.5rem;
      height: 2.5rem;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
      transition: all .2s;
      cursor: pointer;


      &.active {
        transform: rotate(45deg);

        path:nth-of-type(1) {
          stroke-dashoffset: -98px;
        }

        path:nth-of-type(3) {
          stroke-dashoffset: -138px;
        }
      }

      path {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #3d4467;
        stroke-width: 5.5;
        stroke-linecap: round;

        &:nth-of-type(1) {
          stroke-dasharray: 40 139;
        }

        &:nth-of-type(3) {
          stroke-dasharray: 40 180;
        }
      }
    }

    .sub-menu {
      display: flex;
      height: 100%;

      li {
        position: relative;

        &::before {
          opacity: 0;
          content: '';
          position: absolute;
          left:0;
          right: 0;
          bottom: 0;
          height: 3px;
          background-color: darkslateblue;
          transition: .4s;
        }

        &:hover::before {
          opacity: 1;
        }

        a {
          margin: 0 1rem;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }
  }

  .content {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

.main-banner {
  flex: 0 0 300px;
  color: #1b1a21;
  border-radius: .5rem;
  padding: 1.5rem;
  background: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") center no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: .6s;

  &:hover {
    background-size: 103%;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }

  p {
    opacity: .7;
    width: 50vw;
  }
}

.cards {
  display: flex;
  margin: 0 -.25rem;

  .card {
    position: relative;
    flex: 1 1 25%;
    height: 150px;
    margin: .5rem .25rem;
    border: 1px solid #EEE;
    border-radius: .5rem;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: background-size .4s;


    &:hover {
      background-size: 110%;

      &::before {
        opacity: 1;
        filter: blur(5px);
        background-size: 110%;
      }

      .title {
        opacity: 1;
        bottom: 15px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 80px;
      opacity: 0;
      background-color: rgba(255, 255, 255, .3);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100%;
      transition: .2s;
    }

    .title {
      opacity: 0;
      font-size: 12px;
      position: absolute;
      left: 1rem;
      bottom: 10px;
      color: white;
      user-select: none;
      transition: .2s;

      h3 {
        margin-bottom: .25rem;
      }
    }

    &:nth-of-type(1),
    &:nth-of-type(1)::before {
      background-image: url("https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    }

    &:nth-of-type(2),
    &:nth-of-type(2)::before {
      background-image: url("https://images.unsplash.com/photo-1560759995-d237fb70a79d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1266&q=80");
    }

    &:nth-of-type(3),
    &:nth-of-type(3)::before {
      background-image: url("https://images.unsplash.com/photo-1575908524891-b0bdd2b99f90?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    }

    &:nth-of-type(4),
    &:nth-of-type(4)::before {
      background-image: url("https://images.unsplash.com/photo-1503401639559-b16332601594?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80");
    }
  }
}

.table {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-of-type(1) {
        width: 50px;
      }

      &:nth-of-type(2) {
        flex: 1 1 auto;
        justify-content: flex-start;
      }

      &:nth-of-type(3) {
        width: 10%;
      }

      &:nth-of-type(4) {
        width: 50px;

        svg {
          fill: #e02979;
        }
      }
    }
  }

  .row.th {
    opacity: .5;
    flex: 0 0 auto;
    font-size: 13px;
    margin: .5rem 0;
  }

  .rows {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;

    .row {
      border-bottom: 1px solid #DDD;
      padding: .75rem 0;
      transition: background-color .2s;
      cursor: pointer;

      &:hover {
        background-color: rgba(255,255,255,.3);
      }

      &:last-of-type {
        border-bottom: 0;
      }

    }
  }
}

/* Dark Theme */
.dark-theme {

  color: #a9a7b9;

  a {
    color: white;
  }

  &> header {
    border-color: rgba(255,255,255,.1);

    ul a {
      color: #aaa7bb;
    }
  }

  .btn-close {
    svg {
      fill: white;
    }
  }

  .ico-settings {
    fill: #aaa7bb;
  }

  .switch {
    background-color: #4d486d;

    .btn-toggle {
      transform: translateX(17px);
    }
  }

  .toggle-menu path {
    stroke: #aaa7bb;
  }

  .card {
    border-color: rgba(255, 255, 255, .1);
  }

  .table {

    .rows {
      background-color: #28272f;

      .row {
        border-color: rgba(255,255,255,.1);

        &:hover {
          background-color: #272146;
        }
      }
    }
  }
}
